<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Time Calculator</title>
</head>
<body>
    <h1>Flight Time Calculator</h1>
    <form action="/calculate" method="post">
        <label for="airport1">Airport 1:</label>
        <input type="text" id="airport1" name="airport1">
        <br><br>
        <label for="airport2">Airport 2:</label>
        <input type="text" id="airport2" name="airport2">
        <br><br>
        <label for="speed">Speed (kts):</label>
        <input type="number" id="speed" name="speed">
        <br><br>
        <input type="submit" value="Calculate">
    </form>
    <br><br>
    {% if result %}
        <h2>Result:</h2>
        <p>Flight time: {{ result }}</p>
    {% endif %}
     <h1>Find the Closest Plane</h1>
    <form action="/findplane" method="post">
      <label for="aircraft1_pos">Aircraft 1 Position:</label>
      <input type="text" id="aircraft1_pos" name="aircraft1_pos"><br><br>
      <label for="aircraft2_pos">Aircraft 2 Position:</label>
      <input type="text" id="aircraft2_pos" name="aircraft2_pos"><br><br>
      <label for="airport1h">Departure Airport:</label>
      <input type="text" id="airport1h" name="airport1h"><br><br>
      <input type="submit" value="Find Closest Plane">
    </form>
    {% if findplaneresults %}
        <h2>Result:</h2>
        <p>Option: {{ findplaneresults }}</p>
    {% endif %}

   </body>
</html>
